/* Font fix for hereticstudio.cloud deployment */
@font-face {
    font-family: 'Instrument Serif';
    src: url('http://hereticstudio.cloud/shaunmurawski/assets/fonts/InstrumentSerif-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('http://hereticstudio.cloud/shaunmurawski/assets/fonts/InstrumentSerif-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
